<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group list</title>
</head>
<body>
    <form>
        <label for="Id">Id:</label><br>
        <input type="text" id="Id" name="Id"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="floor">Floor:</label><br>
        <input type="text" id="floor" name="floor"><br>
        <button type="submit">Search</button><br>
    </form>

{% include 'includes/group_table.html' %}

</body>
</html>