{% extends 'base.html' %}


{% block content %}
    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Id</span>
            </div>
            <input name="id" type="text" class="form-control" placeholder="Id" aria-label="id" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Group</span>
            </div>
            <input name="group" type="text" class="form-control" placeholder="Group" aria-label="group" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Course</span>
            </div>
            <input name="course" type="text" class="form-control" placeholder="Course" aria-label="course" aria-describedby="basic-addon1">

            <button type="submit" class="btn btn-success">Search</button><br>
        </div>

    </form>

    {% include 'includes/group_table.html' %}

{% endblock %}