{% extends 'base.html' %}


{% block content %}
    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">First name</span>
            </div>
            <input name="fname" type="text" class="form-control" placeholder="First name" aria-label="firstname" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Last name</span>
            </div>
            <input name="lname" type="text" class="form-control" placeholder="Last name" aria-label="lastname" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input name="email" type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Phone number</span>
            </div>
            <input name="pnum" type="text" class="form-control" placeholder="Phone number" aria-label="phonenumber" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Group</span>
            </div>
            <input name="group" type="text" class="form-control" placeholder="Group" aria-label="group" aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Course</span>
            </div>
            <input name="course" type="text" class="form-control" placeholder="Course" aria-label="course" aria-describedby="basic-addon1">

            <button type="submit" class="btn btn-success">Search</button><br>
        </div>

    </form>

    {% include 'includes/teacher_table.html' %}

{% endblock %}