{% if group_list %}
    <table border="1px">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Floor</th>
{#          <th>🗑</th>#}
          <th>🖉</th>
        </tr>
        {% for group in group_list %}
            <tr>
              <td> {{ group.id }}</td>
              <td> {{ group.name }}</td>
              <td> {{ group.course }}</td>
              <td> <a href="{% url 'groups:edit' group.id %}">EDIT</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}
