<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">


</head>


<body>

<!--<h1>LMS</h1>-->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">LMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'students:list' %}">Students <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'groups:list' %}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teachers:list' %}">Teachers</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="img-circle.vert">
                        <img class="rounded-circle p-1 m-1" width="40" height="40" src="{{ user.profile.image.url }}">
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account:profile' %}">Profile ({{ user.username }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:logout' %}">logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account:registration' %}">Register <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_other_pages%}
                {% if page_obj.has_previous %}
                <li class="page-link"><a href="?page=1">&laquo; first</a></li>
                <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                <a><span class="page-link current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></a>

                    {% if page_obj.has_next %}
                <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <h2 class="p-4 mx-auto">{{ title }}</h2>
    <p></p>
    <p></p>
    {% block content %}
    {% endblock %}
</div>


</body>


</html>